version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DOCKER_MODE=true
    volumes:
      - ./server/downloads:/usr/src/app/downloads
