version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "7860:7860"
    environment:
      - PORT=7860
      - DOCKER_MODE=true
    volumes:
      - ./server/downloads:/usr/src/app/downloads
